

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: rgb(197, 209, 206);
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  header { 
    display:flex;
    flex-direction: column;
    flex: 1 0 auto;
  }
  
  